<header>
<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">Den Søde Tand</a>
    </div>
  </div>
  <% if (session.user == null) { %>
    <div class="navbar-end">
      <a class="btn btn-ghost" href="/register">Register</a>
      <a class="btn btn-ghost" href="/login">Login</a>
    </div>
  <% } else { %>
    <div class="navbar-center">
      <a class="btn btn-ghost" href="/">Home</a>
      <a class="btn btn-ghost" href="/products">Products</a>
      <% if (session.user.permission == 1) { %>
        <a class="btn btn-ghost" href="/admin">Admin</a>
      <% } %>
    </div>
    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /></svg>
            <span class="badge badge-sm indicator-item"><%= session.quantity %></span>
          </div>
        </label>
        <div tabindex="0" class="mt-3 card card-compact dropdown-content w-52 bg-base-100 shadow">
          <div class="card-body">
            <span class="font-bold text-lg"><%= session.quantity %> Items</span>
            <span class="text-info">Subtotal: <%= session.sum %> kr</span>
            <div class="card-actions">
              <a class="btn btn-primary btn-block" href="/cart">View cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar pl-2">
          <div class="w-10 rounded-full">
            <img src="<%= session.user.profile_img %>" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-100">
          <div class="stats bg-base-200 text-primary-content">
            <div class="stat">
              <div class="stat-title">Balance</div>
              <div class="stat-value"><%= session.user.balance %> kr</div>
              <div class="stat-actions">
                <a class="btn btn-sm btn-success" href="/getmoney/1000">Add funds</a>
              </div>
            </div>
            
          </div>
          <li><a href="settings">Settings</a></li>
          <li><a href="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  <% } %>
</div>
<% if(typeof error != 'undefined') { %>
  <div class="mx-auto container py-2">
    <div class="alert alert-warning shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <span><%= error %></span>
      </div>
    </div>
  </div>
<% } %>
<% if(typeof success != 'undefined') { %>
  <div class="mx-auto container py-2">
    <div class="alert alert-success shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span><%= success %></span>
      </div>
    </div>
  </div>
<% } %>
</header>